.blue-button {
  background-color: #1565db;
  border-radius: 6px;
  color: white;
  padding: 12px 22px;
  font-weight: 500;
  font-size: 12px;
  height: 44px;
  width: 100%;
  &:active {
    background-color: #0e4eac;
  }
  &--sign {
    margin-top: 31px;
    height: 50px;
    display: flex;
    justify-content: center;
    align-items: center;
  }
  &--consult {
    width: initial;
    margin-top: 24px;
  }
}
