.consult {
  &__input {
    margin-top: 28px;
  }

  &__title {
    margin-top: 88px;
    color: #1565d8;
    font-size: 26px;
    font-weight: bold;
  }

  &__content {
    padding: 0 25px 80px;

    @media (min-width: 768px) {
      padding: 0 136px 80px;
    }
  }
  &__list {
    margin-top: 127px;
    display: grid;
    gap: 17px;
    grid-template: auto / repeat(auto-fill, minmax(230px, 1fr));
  }
}
