.nav {
  background: linear-gradient(
    0deg,
    rgba(21, 101, 216, 0.9),
    rgba(21, 101, 216, 0.9)
  );

  padding: 0 25px;

  @media (min-width: 768px) {
    padding: 0 136px;
  }
  height: 61px;
  display: flex;
  justify-content: space-between;
  align-items: center;
  color: white;
  font-weight: 600;
  font-size: 12px;
  &__link {
    color: white;
  }
  &__button {
    color: white;
    &--signup {
      border: 1px solid white;
      padding: 7px 21px;
      border-radius: 3px;
    }
    &--login {
      margin-left: 30px;
    }
  }
}
